*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

.boxClass{
    position: fixed;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
  
}

.red-ball{
    position: absolute;
    top:0;
    left:0;
    width:15px;
    height:15px;
    background:red;
}
