@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
body {position:fixed;  width:100%; height:100%; background:#111;  font-family:orbitron; }
a { outline:0; text-decoration:none; color:#bbb;}
img {border:0;}

.wrap { position:fixed; width:100%; height:100%; min-width:1024px; min-height:768px;	perspective:900px;}

/* 메뉴 호출 버튼 */
.btnMenu { position:fixed; top:50px; left:40px; display:inline-block; width:20px; height:70px;	text-align:center; font-size:40px; color:#fff; z-index:3; animation:ani 0.5s infinite  alternate;}
@keyframes ani {
	0% { transform:scale(1); opacity:1; color:#fff;}
	100% { transform:scale(1.5); opacity:0.8; color:#888;}
}

/* 카테고리 그룹 */
nav { position:fixed; width:150px;height:100%; background:#eee;	z-index:2;	transform:rotateY(120deg); transform-origin:left center; opacity:0; z-index:2;	transition:all 0.8s;}
nav.on {	transform:rotateY(15deg); opacity:1;}

/* 로고 */
nav h1 { width:100px; position:absolute; top:80px; left:50%; margin-left:-50px;}
nav h1 img { width:100%; height:auto; }

/* 카테고리 메뉴 */
nav ul { position:absolute; top:35%; left:0px; width:100%;}
nav li a { display:block; width:100%; box-sizing:border-box; font-size:18px; line-height:4; color:#000; text-align:center; transition:all 0.5s;}
nav li a:hover { color:#fff;background:#000;}

/* 컨텐츠 그룹*/
section { position:fixed; width:100%; height:100%; background:#555; z-index:1;	transform-origin:right center; transition: all 0.5s; }
section.on { transform:rotateY(-10deg);}
section>div { position:absolute;width:100%; height:100%;}


/* box1 */
.box1>p { height:25%; float:left;}
.box1>p:nth-child(1) { width:50%; background:#ddd;}
.box1>p:nth-child(2) { width:25%; background:#ccc;}
.box1>p:nth-child(3) { width:25%; background:#bbb;}
.box1>p:nth-child(4) { width:50%; height:50%; background:#aaa; float:right;}
.box1>p:nth-child(5) { width:25%; background:#999; float:right;}
.box1>p:nth-child(6) { width:25%; background:#888; float:right;}
.box1>p:nth-child(7) { width:25%; background:#777; float:right;}
.box1>p:nth-child(8) { width:25%; background:#666; float:right;}
.box1>p:nth-child(9) { width:25%; background:#555;}
.box1>p:nth-child(10) { width:50%; background:#444;}
.box1>p:nth-child(11) { width:25%; background:#333;}

/* box2 */
.box2>p { height:25%; float:left;}
.box2>p:nth-child(1) { width:25%; background:#ddd;}
.box2>p:nth-child(2) { width:25%; background:#ccc;}
.box2>p:nth-child(3) { width:50%; background:#bbb;}
.box2>p:nth-child(4) { width:25%; height:49.9%; background:#aaa;}
.box2>p:nth-child(5) { width:50%; height:49.9%; background:#999;}
.box2>p:nth-child(6) { width:25%; background:#888;}
.box2>p:nth-child(7) { width:25%; background:#777;}
.box2>p:nth-child(8) { width:25%; background:#666;}
.box2>p:nth-child(9) { width:25%; background:#555;}
.box2>p:nth-child(10) { width:25%; background:#444;}
.box2>p:nth-child(11) { width:25%; background:#333;}

/* box3 */
.box3>p { width:25%; height:25%; float:left;}
.box3>p:nth-child(1) { width:50%; height:100%; background:#ddd;}
.box3>p:nth-child(2) { background:#ccc;}
.box3>p:nth-child(3) { background:#bbb;}
.box3>p:nth-child(4) { width:50%; background:#aaa;}
.box3>p:nth-child(5) { height:50%; background:#888;}
.box3>p:nth-child(6) { background:#777;}
.box3>p:nth-child(7) { background:#666;}
 







