@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*    Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
body {position:fixed;  width:100%; height:100%; background:#111;  font-family:orbitron; }
a { outline:0; text-decoration:none; color:#bbb;}
img {border:0;}
