@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Orbitron);

/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body { width:100%; height:23000px; font-family:Orbitron; font-size:12px; } 

/*로고*/
h1 { position:fixed; top:40px; left:70px; z-index:2; font-size:100px;}

/*스크롤 네비게이션*/
.scrollNavi { position:fixed; left:100px; top:300px; z-index:2;}
.scrollNavi li { margin-bottom:20px;  }
.scrollNavi li.on { color:blue;}

/*박스 그룹 레이아웃*/
section { position:fixed; width:1200px; height:700px;  left:50%; top:50%; margin-left:-600px; margin-top:-350px; perspective:2300px; z-index:1; border:3px solid red;}
section>article { width:1200px; height:700px; position:absolute; top:0px; left:0px; opacity:0.3; z-index:1; background:blue; font-size:100px; color:#fff;}
section>article.on { z-index:2;}
section>article:nth-child(1) { transform:translateZ(0px);}
section>article:nth-child(2) { transform:translateZ(-5000px);}
section>article:nth-child(3) { transform:translateZ(-10000px);}
section>article:nth-child(4) { transform:translateZ(-15000px);}
section>article:nth-child(5) { transform:translateZ(-20000px);}